[submodule "lib/dgl"]
	path = lib/dgl
	url = https://github.com/project-dev/dgl.js.git
[submodule "lib/png"]
	path = lib/png
	url = https://github.com/project-dev/pngpalette.git
[submodule "lib/paperang"]
	path = lib/paperang
	url = https://github.com/project-dev/paperang_js.git
